//Colores
$gris: #504f4f;
$black: #000;
$white: #fff;

// Fuente
$barlow: 'Barlow', sans-serif;
$roboto: 'Roboto Mono', monospace;

// peso de fuente
$font-black: 900;
$font-bold: 700;
$font-regular: 400;
$font-light: 300;