//Color scheme
$green: #7cea9c;
$dark-blue: #2d3047;
$black: #071013;
$white: #fff;

// Fonts 
$lato: 'Lato', sans-serif;

// Font weight
$font-black: 900;
$font-bold: 700;
$font-regular: 400;
$font-light: 300;