@charset "UTF-8";
/**
  * Patrón 7-1
  *
  * Esta es la estructura del patrón 7-1 utilizado en DesafíoLatam
  * para la enseñanza del uso correcto de patrones dentro de CSS y
  * también para la utilización de éste dentro de estructuras de 
  * trabajo colaborativo.
  *
  * @author Cristóbal Domínguez <cristobald@me.com>
  * @since 1.0
  *
  */
/*
 *
 * La carpeta abstracts/ reune todas las herramientas de SASS para el proyecto.
 * Cada variable global, función, mixin o placeholder debería estar aquí dentro.
 * 
 * La regla de oro para esta carpeta es que no deberá imprimir ni una sola línea
 * de código en el momento de la compilación del CSS. Nada como los helpers de Sass.
 * 
 * Cuando se trabaja en un proyecto muy grande con muchos archivos abstracts, podría
 * ser más interesante agruparlos por tópicos en vez de por tipo. Un ejemplo sería
 * crear las instancias typography (_typography.scss), theming (_theming.scss), etc.
 * Cada archivo contendría todos los helpers relacionados a esa instancia: variables, 
 * functions, mixins y placeholders. Hacerlo así podría hacer el código más sencillo de 
 * de mantener, especialmente cuando los archivos empiezan a crecer mucho.
 * 
 * Nota:
 * La carpeta abstracts/ podría llamarse utilities/ o helpers/, dependiendo de lo que
 * se prefiera.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
/*
 *
 * Este archivo contiene las referencias del código boilerplate de tu proyecto.
 * Aquí podrás encontrar referencias al archivo _reset.scss, a las tipografías
 * y probablemente algún otro archivo de estilos que defina de una forma estándard
 * los estilos de elementos usados en HTML.
 *
 *
 * Nota: 
 * Si tu proyecto usa muchas animaciones, deberías considerar agregar dentro de
 * esta carpeta un archivo /_animations.scss que contenga las definiciones de los
 * @keyframes de todas tus animaciones.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
body, ul, h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

p {
  line-height: 1.4em;
  font-size: 1.2em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-container {
  width: 80%;
  margin: 0 auto;
}

.bg-green {
  background-color: #7cea9c;
}

.bottom-line {
  border-bottom: solid 1px gray;
}

body {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: #2d3047;
}

/*
 *
 * Esta carpeta contiene todo lo que hace relación con el sitio web o la aplicación.
 * Aquí encontrarás los estilos para las partes principales del sitio (header, footer, 
 * navigation, sidebar, etc), el sistema de grillas o incluso los estilos de los formularios
 *
 *
 * Nota:
 * La carpeta layout/ también podría ser llamada partials/, dependiendo de la 
 * preferencia del desarrollador.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
.main-header {
  grid-area: nav;
}

.main-section {
  grid-area: ms;
}

.experience-section {
  grid-area: exs;
}

.education-section {
  grid-area: eds;
}

.skills-section {
  grid-area: sks;
}

.contact-section {
  grid-area: cs;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav" "ms" "exs" "eds" "sks" "cs";
}

@media only screen and (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav ms" "nav exs" "nav eds" "nav sks" "nav cs";
  }
}
.main-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.navigation {
  position: relative;
  padding-top: 10px;
  width: 100%;
}
.navigation__logo {
  position: absolute;
  top: 10px;
  left: 2.2rem;
}
.navigation__logo-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.navigation__collapsible {
  text-align: right;
  width: 100%;
}
.navigation__collapsible label {
  font-size: 1.8rem;
}
.navigation__collapsible label i {
  padding: 2.2rem;
}
.navigation #menu {
  display: none;
}
.navigation input:checked ~ .navigation__container {
  max-height: 100%;
}
.navigation__container {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7cea9c;
}
.navigation__list {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 0;
  text-align: center;
}
.navigation__item {
  padding: 1em;
  width: 90%;
  margin: 0 auto;
  border-bottom: solid 1px #2d3047;
}
.navigation__item:last-child {
  border-bottom: none;
}
.navigation__link {
  padding: 1em;
  color: #071013;
}
.navigation__link:hover {
  text-decoration: none;
  color: gray;
}

@media only screen and (min-width: 700px) {
  .main-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 0;
  }
  .navigation__logo {
    position: static;
  }
  .navigation__logo-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  .navigation__collapsible {
    text-align: center;
    width: 82%;
  }
  .navigation__collapsible label {
    display: none;
  }
  .navigation__container {
    max-height: 100%;
    overflow: visible;
  }
  .navigation__list {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 0;
  }
  .navigation__item {
    padding: 0.5em;
    width: 100%;
    border-bottom: none;
  }
  .navigation__link {
    padding: 0.5em 0;
    color: #071013;
  }
  .navigation__link:hover {
    text-decoration: none;
    color: gray;
  }
}
@media only screen and (min-width: 769px) {
  .main-header {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navigation__logo-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .navigation__list {
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 1.5em;
    display: block;
  }
  .navigation__item {
    padding: 0.5em 0;
  }
  .navigation__link {
    padding: 0.5em 0;
    color: #071013;
  }
  .navigation__link:hover {
    text-decoration: none;
    color: gray;
  }
}
.main-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.main-content__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
}
.main-content__contact {
  font-size: 1.2em;
}
.main-content__contact--uppercase {
  text-transform: uppercase;
}
.main-content__text {
  padding-top: 5em;
  padding-bottom: 3em;
}
.main-content__icons i {
  padding-right: 0.5em;
}

@media only screen and (min-width: 700px) {
  .main-content__title {
    font-size: 4em;
  }
}
.section-content {
  padding-top: 5rem;
  padding-bottom: 7rem;
}
.section-content__main-title {
  padding-top: 2rem;
  padding-bottom: 7rem;
}
.section-content__main-title h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 900;
}
.section-content__main-title--less-padding {
  padding-bottom: 1rem;
}
.section-content__title-date {
  display: static;
}
.section-content__text-title {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
}
.section-content__text-title--black {
  font-weight: 900;
}
.section-content__text-position {
  padding-bottom: 3em;
}
.section-content__text-desc {
  padding-bottom: 3.5em;
}
.section-content__text-skills {
  padding-top: 2em;
  padding-bottom: 5em;
}

@media only screen and (min-width: 700px) {
  .section-content__title-date {
    display: flex;
    justify-content: space-between;
  }
}
.contact-form {
  padding-top: 4rem;
}
.contact-form__label {
  padding: 2rem 0;
  font-size: 1.2em;
}
.contact-form textarea {
  resize: none;
}

/*
 * 
 * Esta carpeta fue creada para componentes o módulos pequeños como por ejemplo: 
 * sliders, loaders, widgets, etc. A diferencia de la carpeta layout/ donde almacenaremos
 * los componentes que definan el wireframe del sitio/aplicación, aquí encontraremos
 * componentes que aportarán más contenido que una estructura visual.
 * 
 * Usualmente deberían haber muchos archivos en components/ debido a que los 
 * sitios/aplicaciones se empezaron a crear en base a pequeños módulos de código.
 * 
 * Nota:
 * Esta carpeta también se podría llamar modules/, dependiendo de cómo tu la prefieras.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */

/*# sourceMappingURL=main.css.map */
