body, ul, h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

p {
  line-height: 1.4em;
  font-size: 1.2em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.section-container {
  width: 80%;
  margin: 0 auto;
}

.bg-green {
  background-color: #7cea9c;
}

.bottom-line {
  border-bottom: solid 1px gray;
}

body {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: #2d3047;
}

.main-header {
  grid-area: nav;
}

.menu-seccion {
  grid-area: ms;
}

.experience-section {
  grid-area: exs;
}

.education-section {
  grid-area: eds;
}

.skills-section {
  grid-area: sks;
}

.contacto-section {
  grid-area: cs;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav" "ms" "exs" "eds" "sks" "cs";
}

@media only screen and (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav ms" "nav exs" "nav eds" "nav sks" "nav cs";
  }
}
.main-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.navegacion {
  position: relative;
  padding-top: 10px;
  width: 100%;
}
.navegacion__logo {
  position: absolute;
  top: 10px;
  left: 2.2rem;
}
.navegacion__logo-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.navegacion__desplegable {
  text-align: right;
  width: 100%;
}
.navegacion__desplegable label {
  font-size: 1.8rem;
}
.navegacion__desplegable label i {
  padding: 2.2rem;
}
.navegacion #menu {
  display: none;
}
.navegacion input:checked ~ .navegacion__container {
  max-height: 100%;
}
.navegacion__container {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7cea9c;
}
.navegacion__lista {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 0;
  text-align: center;
}
.navegacion__item {
  padding: 1em;
  width: 90%;
  margin: 0 auto;
  border-bottom: solid 1px #2d3047;
}
.navegacion__item:last-child {
  border-bottom: none;
}
.navegacion__link {
  padding: 1em;
  color: #071013;
}
.navegacion__link:hover {
  text-decoration: none;
  color: gray;
}

@media only screen and (min-width: 700px) {
  .main-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
  }

  .navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 0;
  }
  .navegacion__logo {
    position: static;
  }
  .navegacion__logo-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  .navegacion__desplegable {
    text-align: center;
    width: 82%;
  }
  .navegacion__desplegable label {
    display: none;
  }
  .navegacion__container {
    max-height: 100%;
    overflow: visible;
  }
  .navegacion__lista {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 0;
  }
  .navegacion__item {
    padding: 0.5em;
    width: 100%;
    border-bottom: none;
  }
  .navegacion__link {
    padding: 0.5em 0;
    color: #071013;
  }
  .navegacion__link:hover {
    text-decoration: none;
    color: gray;
  }
}
@media only screen and (min-width: 769px) {
  .main-header {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
  }

  .navegacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navegacion__logo-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .navegacion__lista {
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 1.5em;
    display: block;
  }
  .navegacion__item {
    padding: 0.5em 0;
  }
  .navegacion__link {
    padding: 0.5em 0;
    color: #071013;
  }
  .navegacion__link:hover {
    text-decoration: none;
    color: gray;
  }
}
.menu-contenido {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.menu-contenido__titulo {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
}
.menu-contenido__contacto {
  font-size: 1.2em;
}
.menu-contenido__contacto--uppercase {
  text-transform: uppercase;
}
.menu-contenido__text {
  padding-top: 5em;
  padding-bottom: 3em;
}
.menu-contenido__icons i {
  padding-right: 0.5em;
}

@media only screen and (min-width: 700px) {
  .menu-contenido__titulo {
    font-size: 4em;
  }
}
.section-content {
  padding-top: 5rem;
  padding-bottom: 7rem;
}
.section-content__menu-titulo {
  padding-top: 2rem;
  padding-bottom: 7rem;
}
.section-content__menu-titulo h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 900;
}
.section-content__menu-titulo--less-padding {
  padding-bottom: 1rem;
}
.section-content__titulo-date {
  display: static;
}
.section-content__text-titulo {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
}
.section-content__text-titulo--black {
  font-weight: 900;
}
.section-content__text-position {
  padding-bottom: 3em;
}
.section-content__text-desc {
  padding-bottom: 3.5em;
}
.section-content__text-skills {
  padding-top: 2em;
  padding-bottom: 5em;
}

@media only screen and (min-width: 700px) {
  .section-content__titulo-date {
    display: flex;
    justify-content: space-between;
  }
}
.contacto-form {
  padding-top: 4rem;
}
.contacto-form__label {
  padding: 2rem 0;
  font-size: 1.2em;
}
.contacto-form textarea {
  resize: none;
}

/*# sourceMappingURL=main.css.map */
